<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>readItem</title>
</head>
<body>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Nickname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${items}">
            <th th:text="${item.id}"></th>
            <td th:text="${item.title}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.user.getNickname()}"></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" th:onclick="'location.href=\'/api/items/' + ${items.id} + '/editItemForm\''">Edit</button>
    <button type="button" class="btn btn-success" th:onclick="'location.href=\'/api/items/' + ${items.id} + '/delete\''">Delete</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/'">메인 페이지로 이동</button>
</body>
</html>